<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>microblog</title>
</head>
<body>
    <div class="container">
        <div class="left-col">
            <form method="post" action="/">
                <input type="text" name="title" placeholder="Title">
                <textarea rows="10" name="body" placeholder="Write post body here!"></textarea>
                <button>Create!</button>
            </form>
        </div>
        <div class="right-col">
            {% for post in posts %}
            <h1>{{ post.title }}</h1>
            <p>{{ post.body }}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>